<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.HealthNewsDao">
    <select id="getAll" resultType="HealthNews">
        select * from health_news ;
    </select>
    <select id="findById" resultType="HealthNews">
        select  * from health_news where nid = #{nid}
    </select>
    <insert id="addHealthNews" parameterType="HealthNews">
        insert into health_news <include refid="key"/> values <include refid="value"/>
    </insert>
    <delete id="deleteHealthNews">
        delete from health_news where nid = #{nid}
    </delete>
    <update id="updateHealthNews" parameterType="HealthNews">
        update health_news
        <trim prefix="set" suffixOverrides=",">
            title = #{title},author = #{author},coverUrl = #{coverUrl},content = #{content},operTime = #{operTime},
            <if test="status != null">
                status = #{status},
            </if>
            <if test="isTop != null">
                isTop = #{isTop},
            </if>
        </trim>
        where nid = #{nid}
    </update>

    <!--动态插入sql-->
    <!-- 对应的插入字段的名字 -->
    <sql id="key">
        <trim suffixOverrides="," prefix="(" suffix=")" >
            title,author,coverUrl,content,operTime,
            <if test="status != null">
                status,
            </if>
            <if test="isTop != null ">
                isTop,
            </if>
        </trim>
    </sql>

    <!-- 对应的插入字段的值 -->
    <sql id="value">
        <trim suffixOverrides="," prefix="(" suffix=")">
            #{title},#{author},#{coverUrl},#{content},#{operTime},
            <if test="status != null">
                #{status},
            </if>
            <if test="isTop != null">
                #{isTop},
            </if>
        </trim>
    </sql>
</mapper>